html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
}


/************************************************HEADER*********************************************/

header {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

#header-logo {
    height: 24px;
}

header a {
    margin-left: 32px;
    color: white;
}

header a:hover {
    color: white;
}

header a:visited {
    color: white;
}


#menu-btn i {
    font-size: 32px;
}

.solid-header {
    position: fixed;
    background-color: #bc8f62;
    transition: background-color 0.5s ease;
}


/************************************************HERO SECTION*********************************************/

#hero-section {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-section::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #4133329c;
    height: 100vh;
}

#hero-logo {
    width: 256px;
}

#arrow-down {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    width: 64px;
    color: white;
}

@media (max-width: 768px) {
    #hero-section h1 {
        font-size: 3rem;
    }
    #hero-logo {
        width: 196px;
    }
}


/************************************************INTRO SECTION*********************************************/

#intro-section {
    background: #eae7de;
}

.intro-icon {
    width: 96px;
}

.intro-icon:hover {
    transform: scale(1.2);
}
/************************************************ABOUT SECTION*********************************************/



#about-bg-1 {
    background-image: url(../img/great-place.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    min-height: 480px;
}

#about-bg-2 {
    background-image: url(../img/fresh-beans.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    height: 640px;
    min-height: 640px;
    position: relative;
}

.btn {
    background-color: #bc8f62;
    border-color: transparent;
}

@media (max-width: 768px) {
    #about-bg-2::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: #0202029c;
    }
}


/************************************************MENU SECTION*********************************************/

#menu-section {
    background: #eae7de;
}

/*sada je iskljucen hover za menu slike (slike kafa i kolaca)
/*.card-hover:hover {
    transform: scale(1.1);
}*/


/************************************************CONTACT SECTION*********************************************/

#contact-info-bg-1 {
    background: linear-gradient(to right, #36313782, #36313782), url(../img/contact-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

#contact-info-bg-2 {
    background-color: #312423a8;
}

/************************************************MAP SECTION*********************************************/


#map {
    height: 480px;
}



/************************************************FOOTER SECTION*********************************************/


footer {
    background: #312423;
}

footer a i {
    font-size: 32px;
    color: white;
}

#footer-link {
    color: white;
}

#footer-link:hover {
    color:#bc8f62;
}

/*hover ikonice*/

#fb-icon:hover {
    color:	#4267B2;
    transform: scale(1.4);
}

#instagram-icon:hover {
    color: #E1306C;
    transform: scale(1.4);
}

#twitter-icon:hover {
    color: #1DA1F2;
    transform: scale(1.4);
}

#phone-icon:hover {
    color: #009e08;
    transform: scale(1.4);
}

@media (max-width: 768px) {
    footer {
        text-align: center;
    }

    #social-icons {
        text-align: center !important;
        margin-top: 8px;
    }
}


/************************************************MOBILE MENU SECTION*********************************************/

#mobile-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:#312423ed;
    z-index: 2;

    display: none;
}

#mobile-menu a {
    color: white;
}

#mobile-menu a:hover {
    color: rgb(175, 171, 171);
}

#mobile-menu #close-btn {
    position: absolute;
    right: 29px;
    top: 12px;
    width: 36px; 
}

/***********************************************LOADER******************************************************************/

/*.loader-wrapper {
    background-color: black;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 5;
    padding-top: 20%;
}



.lds-facebook {
    display: block;
    margin: auto;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }

  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }

  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }

  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }*/
